.Loby {
    margin: 16px;
}

.qq {
    display: flex;
    justify-content: flex-end;
    gap: 5%;
    font-weight: bold;
}

.ww {
    border: 1px solid rgb(187, 187, 187);
    margin-top: 10px;
}

.tt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.ee {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 30px;
    font-weight: bold;
}

.btn1 {
    cursor: pointer;
    background-color: black;
    color: rgb(252, 254, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 25px;
    align-self: flex-start;
    padding: 10px 30px;
    border: 0px;
}

.btn1:hover{
    background-color: rgb(252, 252, 252);
    color: black;
    border: 1px solid black;
}

.h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 40px;
}

.p1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.yy {
    display: flex;
    justify-content: space-between;
}

.txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;

}

.btn2 {
    cursor: pointer;
    background-color: black;
    color: rgb(252, 254, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 20px;
    align-self: flex-start;
    padding: 15px 60px;
    margin-top: 30px;
    border: 0px;
}
.btn2:hover{
    background-color: rgb(252, 252, 252);
    color: black;
    border: 1px solid black;
}

.img1 {
    margin: 20px;
}

.bluebox {
    background-color: rgb(203, 233, 247);
}

.h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    padding: 40px;
}

.Loby2 {
    display: flex;
    justify-content: space-between;
}

.photu {
    width: 40%;
    padding: 150px 50px 150px 50px;
}

.textCoulmn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    gap: 20px;
    padding: 40px;
}

.ww1 {
    border: 1px solid rgb(187, 187, 187);
    margin-top: 10px;
}

.coulmnfont {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: small;
    margin-left: 10px;
}

.coulmnfontP {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-small;
    font-weight: bold;
    margin-left: 10px;
}

.twoimgContainer{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.twoimgContainertext{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 100px;
    width: 50%;
}

.img2{
    padding: 50px;
    width: 50%;
}

.h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

.p2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
}

.btn3{
    cursor: pointer;
    background-color: black;
    color: rgb(252, 254, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 25px;
    align-self: flex-start;
    padding: 10px 30px;
    border: 0px;
    margin-top: 20px;
}

.btn3:hover{
    background-color: rgb(252, 252, 252);
    color: black;
    border: 1px solid black;
}

.twoimgContainer2{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.twoimgContainertext2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 100px;
    width: 50%;
}

.yellowbox{
    background-color: yellow;
}

.twodabbaCoulmn{
    display: flex;
    flex-direction: column;
}

.poky1{
    background-color: rgb(23, 21, 43);
    color: rgb(255, 255, 255);
}