* {
    box-sizing: border-box;
}

.Loby {
    margin: 16px;
}

.qq {
    display: flex;
    justify-content: flex-end;
    gap: 5%;
    font-weight: bold;
}

.ww {
    border: 1px solid rgb(187, 187, 187);
    margin-top: 10px;
}

.tt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.ee {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 30px;
    font-weight: bold;
}

.btn1 {
    cursor: pointer;
    background-color: black;
    color: rgb(252, 254, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 25px;
    align-self: flex-start;
    padding: 10px 30px;
    border: 1px solid black;
}

.btn1:hover {
    background-color: rgb(252, 252, 252);
    color: black;
    border: 1px solid black;
}

.h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 40px;
}

.p1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.yy {
    display: flex;
    justify-content: space-between;
}

.txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;

}

.btn2 {
    cursor: pointer;
    background-color: black;
    color: rgb(252, 254, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 20px;
    align-self: flex-start;
    padding: 15px 60px;
    margin-top: 30px;
    border: 1px solid black;

}

.btn2:hover {
    background-color: rgb(252, 252, 252);
    color: black;
    border: 1px solid black;
}

.img1 {
    margin: 20px;
}

.bluebox {
    background-color: rgb(203, 233, 247);
}

.h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    padding: 10px;
}

.Loby2 {
    display: flex;
    justify-content: space-between;
}

.photu {
    width: 40%;
    padding: 200px 50px 200px 50px;
}

.textCoulmn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    gap: 20px;
    padding: 20px;
}

.ww1 {
    border: 1px solid rgb(187, 187, 187);
    margin-top: 10px;
}

.coulmnfont {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    margin-left: 10px;
}

.coulmnfontP {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-small;
    font-weight: bold;
    margin-left: 10px;
}

.twoimgContainer {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.twoimgContainertext {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 100px;
    width: 50%;
}

.img2 {
    padding: 50px;
    width: 50%;
}

.h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

.p2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
}

.btn3 {
    cursor: pointer;
    background-color: black;
    color: rgb(252, 254, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 25px;
    align-self: flex-start;
    padding: 10px 30px;
    border: 1px solid black;
    margin-top: 20px;
}

.btn3:hover {
    background-color: rgb(252, 252, 252);
    color: black;
    border: 1px solid black;
}

.twoimgContainer2 {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.twoimgContainertext2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 100px;
    width: 50%;
}

.yellowbox {
    display: flex;
    gap: 50px;
    padding: 50px 50px 100px 50px;
    background-color: yellow;

}

.twodabbaCoulmn {
    display: flex;
    flex-direction: column;
    gap: 50px;

}

.twodabbaCoulmn1 {
    display: flex;
    flex-direction: column;
    gap: 50px;

}

.poky1 {
    background-color: rgb(23, 21, 43);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px 50px;
}

.poky2 {
    background-color: rgb(243, 242, 255);
    color: rgb(0, 0, 0);
    padding: 10px 50px;
}


.poky3 {
    background-color: rgb(122, 209, 119);
    color: rgb(0, 0, 0);
    padding: 10px 50px;
}

.p3 {
    font-weight: bold;
    margin-bottom: 70px;
}

.Bill {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
}

.gol {
    height: 32px;
    width: 32px;

}

.gol2 {
    height: 100%;
    width: 100%;
    border-radius: 9999px;
}
.BIGblackbox{
    position: relative;
}

.BlackBox {
    width: 100%;
    position: absolute;
    top: -20px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 20px 20px 0px 0px;
}


.saath {
    display: flex;
    justify-content: space-around;
    padding: 0px 40px 40px 40px;
}

.blackboxbtn {
    cursor: pointer;
    background-color: rgb(39, 39, 39);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(39, 39, 39);
    border-radius: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px 80px;
    align-self: flex-start;
}

.blackboxbtn:hover {
    background-color: rgb(39, 39, 39);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
}


.saath1 {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.bb {
    margin-top: 0;
}

.bb1 {
    font-size: 10px;
    margin-bottom: 0;
}

.sam {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.sam1 {
    display: flex;
    justify-content: end;
    width: 40%;
}

.saath2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.saath3 {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    font-weight: bold;
    gap: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ww2 {
    border: 1px solid rgb(44, 44, 44);
}

.saath1w {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 40px;
}

.blackboxbtn1 {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px 15px;
    align-self: flex-start;
}

.blackboxbtn1:hover {
    background-color: rgb(34, 34, 34);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
}

.btnpapa{
    display: flex;
    gap: 10px;
}

.saath11 {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.mam {
    display: flex;
    gap: 40px;
    width: 60%;
}

.saath22 {
    display: flex;
    flex-direction: column;
    gap: 15px;

}
.mam1 {
    display: flex;
    justify-content: space-between;
    width: 40%;
    gap: 40px;
}
.saath33 {
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.saath44 {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.blue1box{
    background-color: rgb(43, 182, 247);
    color: rgb(255, 255, 255);
    position: relative;
    top: -50px;
    padding: 40px;
    border-radius: 10px;
    margin: 0px 20px 10px 20px;
    font-size: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.bluebtn{
    background-color: rgb(255, 255, 255);
    color: rgb(43, 182, 247);
    border-radius: 20px;
    border: 1px solid white;
    cursor: pointer;
    padding: 10px 20px;

}

.bluebtn:hover{
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(43, 182, 247);
    color: rgb(255, 255, 255);
}