body{
    margin: 16px;
}

.qq{
    display: flex;
    justify-content: flex-end;
    gap: 5%;
    font-weight: bold;
}

.ww{
    border: 1px solid rgb(187, 187, 187);
    margin-top: 10px;
}

.tt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.ee{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 30px;
    font-weight: bold;
}


.btn1{
    cursor: pointer;
    background-color: black;
    color: rgb(252, 254, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 25px;
    align-self: flex-start;
    padding: 10px 30px;
}

.h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 40px;
}

.p1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.yy{
    display: flex;
    justify-content: space-between;
}

.txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;

}

.btn2{
    cursor: pointer;
    background-color: black;
    color: rgb(252, 254, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 20px;
    align-self: flex-start;
    padding: 15px 60px;
    margin-top: 30px;
}

.img1{
    margin: 20px;
}
.bluebox{
    display: flex;
    background-color: rgb(203, 233, 247);
    flex-direction: column;
    
}


.h22{
    display: flex;
    justify-content: center;
}

.h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

.myimg{
    width: 50%;
}

.photu{
    width: 100%;
}

.textCoulmn{
    display: flex;

}